@page "/user/login"
@using BaseSolution.BlazorServer.Data.DataTransferObjects.User
@using BaseSolution.BlazorServer.Respository.Interfaces
<h3>UserLogin</h3>

<MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm Model="_userDTO" @ref="form">
                <MudTextField T="string" Label="Tài khoản" @bind-Value="_userDTO.UserName" Required="true" />
                <MudTextField T="string" Label="Mật khẩu" @bind-Value="_userDTO.Password" Required="true"  />
                <MudSpacer></MudSpacer>
                <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="@Login">Đăng nhập</MudButton>
            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>
@code {
    MudForm form;
    private UserHotelDTO _userDTO = new();
    [Inject]
    public IDialogService _dialogService { get; set; }
    [Inject]
    public IUserRepo userRepo { get; set; }
    [Inject]
    public ISnackbar _snackbar { get; set; }

    private async Task Login()
    {
        var checkVar = await userRepo.ConfirmAccountAsync(_userDTO.UserName, _userDTO.Password);
        if (!checkVar)
        {
            await _dialogService.ShowMessageBox("Lỗi", "Vui lòng nhập đúng tài khoản và mật khẩu!");
            return;
        }
        else
        {
            var confirm = await _dialogService.ShowMessageBox(
           "Thông báo",
           "Xác nhận đăng nhập?",
           "Xác nhận",
           cancelText: "Hủy"
       );

            if (confirm == true)
            {
                _snackbar.Add("Đăng nhập thành công", Severity.Success);
            }
            else
            {
                _snackbar.Add("Đăng nhập thất bại", Severity.Error);
            }
        }
    }
}

