@using BaseSolution.BlazorServer.Extensions;
@inherits LayoutComponentBase

<MudThemeProvider Theme="_customTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Color="Color.Info" Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <div class="col-auto">
            <div>
                <MudMenu Label="Đăng nhập" Variant="Variant.Filled" Color="Color.Primary">
                    <MudMenuItem Href="/login">Quản trị </MudMenuItem>
                    <MudMenuItem Href="/login-customer">Khách hàng</MudMenuItem>
                </MudMenu>
            </div>
        </div>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            <MudText Color="Color.Primary" Typo="Typo.h6">Khách sạn HAH</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-2 pt-8">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}

@code {
    private static string[] fontFamily = new[] { "Baloo 2" };
    private static Typography typo = new Typography()
        {
            Default = new() { FontFamily = fontFamily },
        };
    private MudTheme _customTheme = new()
        {
            Palette = new Palette()
            {
                Primary = CustomPalette.PrimaryColor,
                Info = CustomPalette.InfoColor,
                
            },
            Typography = typo,
        };
}